@charset "UTF-8";


body {

background-color: #F2F2F2;


} 

header {
    
    
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.041), white);
}

main {

background-color: #D9D9D9;


}

.sobre {

    position: inherit;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
    margin-top: -21px;
    box-shadow: 1px 1px 5px black;
    border-radius: 2px;
}

main > article > aside {

list-style-type: "\2714\00A0\00A0";
list-style-position: inside;
columns: 2;

}

main p {

    text-align: justify;
    text-size-adjust: 10px;
}

.hobbies {

    
    
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
    margin-top: -18px;
    box-shadow: 1px 1px 5px black;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(110, 110, 136, 0.521), rgba(51, 45, 45, 0.329));
    margin-bottom: -17px;
}

.hobbies > h3 {

    font-size: 25px;
    
}



aside {

background-color:#8c8c8c5e ;

}

aside > ul > li > h4 {


margin-left: 4px;
margin-right: 4px;

}

li > h4 {

    background-color: rgba(124, 111, 111, 0.11);
    width: 40%;
    
}

aside > h4, p {

    background-color: rgba(255, 247, 247, 0.233);
    width: 80%;
    
    border-radius: 9px;
    text-indent: 10px;
    
}

li > p {

    text-indent: 10px;
    line-height: 2.5;
}

aside#um {

background-attachment: fixed;
background-color: #8c8c8c5e;
border-radius: 11px;
margin: -13px;
box-shadow: 1px 0px 4px 0px black;
margin-left: -18px;
margin-top: -14px;
margin-right: -11px;
font-family: Comic Sans MS, Comic Sans, cursive;
background-image: url("imagens/futebol.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center right;

}

aside#dois {

    background-attachment: fixed;
    background-color: #8c8c8c5e;
    border-radius: 11px;
    margin: kpx;
    box-shadow: 1px 0px 4px 0px black;
    margin-left: -30px;
    margin-top: 288px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-image: url("imagens/programaçao.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

footer {

background-color: #595959;
padding: 10px;
border-radius: 3px;
text-align: center;
color: white;
font-size: 20px;
background-image: linear-gradient(45deg, transparent(0, 0, 0, 0), black)

}



Configuração de Links, Stroong, entre outros

 
div > a {

    padding: 15px;
    color: rgb(224, 19, 19);
    text-decoration: none;
    border-radius: 30px;
    transition-duration: .4s;
    font-weight: bold;
    
    
    
    
}


    nav > a:hover {

        background-color: palegreen;
        
    }
    
    





main > a {

    background-color: black;

}


.link {

   
    padding: 15px;
    color: rgb(224, 19, 19);
    text-decoration: none;
    border-radius: 30px;
    transition-duration: .4s;
    font-weight: bold;
}